.card__quote {
    font-size: 24px;
    color: #1b0303;

}

.card__buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 0.15em;
    padding: 0.25em;

    button {
        padding: 0.25em 0.5em;
        font-size: 14px;
        background-color: #059669;
        color: white;
        border: 2px solid #10b981;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
            background-color: #065f46;
            color: #facc15;
        }

    }
    
    @media (min-width: 500px) {
        gap: 0.25em;
        button {
            padding: 0.75em 1.25em;
            border-radius: 12px;
            font-size: 16px;
        }

        
    }
    
}

